h1 {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #E5890A;
    
}

#quoteDisplay {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 10%;
    color: #FF8243;
    font-size: 20px;
    
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 10%;

}


#quotebttn {
    /*background-color: #FFC288;*/
    background-color: #ffb042;
    color:white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
}

#quotebttn:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }


@media only screen and (max-width: 320px) {
    #quotebttn {
      background-color: blue;
    }
    body {
       background-color: #F6F6F6;
    }
  }

@media only screen and (min-width: 321px) and (max-width: 768px) {
    #quotebttn {
        background-color: red;
    }
    body {
        background-color: #F1F2F2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 2199px) {
    #quotebttn {
        background-color: orange;
    }
    body {
        background-color: #E6E7E8;
    }
    
}

@media only screen and (min-width: 1200px) {
    #quotebttn {
        background-color: green;

    }
    body {
        background-color: #D1D3D4;
    }
}
